
  <link href="/css/footer.css" rel="stylesheet">
        
         <!-- Footer -->
<footer class="page-footer font-small text-light bg-dark" id="footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 mt-5">© 2020 Copyright: ITI Mansoura40
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->  